.signupBackground{
    height: 100%;
    width: 100%;
    background-image: url("../assets/login_background.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.signupMain {
    display: flex;
    text-align: center;
    height: 100vh;
    overflow:hidden;
    justify-content: center;
    align-items: center;
}

.signupContainer {
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    background-clip: padding-box;
    margin: auto;
    width: 300px;
    padding: 30px 100px 30px 100px;
    background: rgba(255, 255, 255, 0.80);
    border: 1px solid #eaeaea;
}

.signupLogo {
    size: 80%;
    padding: 10px 0 10px 0;
}

.signupForm {
    max-width: 300px;
}

.signupFormButton {
    width: 100%;
}

.signupFormCaptchaInput {
    max-width: 50%;
    float: left;
}

.signupFormCaptchaImage {
    width: 40%;
    float: right;
    align-items: center;
}